body{
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.plan{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: orange;
  border: black;
  border-radius: 2cap;
  height: 120px;
  width: 95%;
  

}

.buttons button{
  margin-left: 10px;
  background-color:yellow;
  height: 60px;
  width: 200px;
  border-radius: 1cap;
  font-size: 20px;
}

.heading{
  font-size: 50px;
}